<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui inverted menu">
			<div class="header item"><a href="#"><i class="medapps icon"></i>BlogZilla</a></div>

			<div class="right menu">
			  	<a href="/" class="item">Home</a>
				<a href="/blogs/new" class="item">New Post</a>
	  		</div>
	</div>
